@import url("https://fonts.googleapis.com/css2?family=Gajraj+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Accent;
  src: url(/Fonts/Accent/Callisa-Beauty-BF6639cfd4336e6.ttf);
}

:root {
  --bg-color: #fefae080;
  --text-color: black;
  --accent-primary: #ade8f4;
  --accent-secondary: #00bfb3;
}

html.dark {
  --bg-color: black;
  --text-color: white;
  --accent-primary: #2563eb;
  --accent-secondary: #00bfb3;
}

body {
  background-color: var(--bg-color);
}

::-webkit-scrollbar {
  display: none;
}