@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Accent;
  src: url(/Fonts/Accent/Callisa-Beauty-BF6639cfd4336e6.ttf);
}

:root {
  --background: #ffffff;
  --foreground: #202020;
  --selection: #469d895a;
  --list: #469d89;
}

html.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --selection: #bd68ee63;
  --list: #bd68ee;
}

*::selection{
  background-color: var(--selection);
}

body {
  color: var(--foreground);
  background: var(--background);
}
::-webkit-scrollbar {
  display: none;
}

main {
  background-image: url('/bgNoise.png');
}

.projects {
  ::-webkit-scrollbar {
    display: none;
  }
}

.aboutList > ul > li::marker{
  color: var(--list);
}